//Временно

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.woff') format('woff'),
  url('../fonts/Rubik-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
