// Временно

// Colors
$white: #ffffff;
$black: #000000;
$grey-background: #DDDDE4;
$base-text-color: #272937;
$blue-color: #454FA2;
$hover-blue-color: #6671D0;
$active-blue-color: #303984;
$red-color: #FF462D;
$hover-red-color: #FD6955;
$active-red-color: #D22B14;
$grey-color: #82829C;
$border-color: #B1B1C8;

// Sizes
$base-font-size: 14px;
$small-font-size: 12px;
$title-font-size: 30px;
$sub-title-font-size: 16px;
$button-font-size: 20px;

$tablet-size: 768px;
$desktop-size: 1200px;

// Fonts
$main-font: 'OpenSans', sans-serif;
$bold-font: 'Rubik', 'Arial', sans-serif;
