// Временно

// Colors
$white: #ffffff;
$black: #000000;
$background-color: #e5e5e5;
$base-text-color: #484848;
$blue-color: #1fc0fc;
$hover-blue-color: #63d3fd;
$active-color: #f4f4f4;
$yellow-color: #ffc341;
$red-color: #ff0000;
$gradient-color: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

// Sizes
$mobile-size: 320px;
$tablet-size: 767px;
$desktop-size: 1365px;
$base-font-size: 15px;

// Fonts
$main-font: "FiraSans", arial, sans-serif;
$medium-font: "FiraSansMedium", arial, sans-serif;
$bold-font: "FiraSansBold", arial, sans-serif;
$title-font: "Montserrat", arial, sans-serif;
$subtitile-font: "Raleway", arial, sans-serif;
$header-font: "RalewayBold", arial, sans-serif;

