// Временно

// Colors
$white: #ffffff;
$black: #000000;
$background-color: #E5E5E5;
$base-text-color: #484848;
$blue-color: #1FC0FC;
$hover-blue-color: #63D3FD;
$yellow-color: #FFC341;
$red-color: #FF0000;
$gradient-color: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);

// Sizes
$mobile-size: 320px;
$tablet-size: 767px;
$desktop-size: 1365px;
$base-font-size: 15px;

// Fonts
$main-font: 'FiraSans', Arial, sans-serif;
$medium-font: 'FiraSansMedium', Arial, sans-serif;
$bold-font: 'FiraSansBold', Arial, sans-serif;
$title-font: 'Montserrat', Arial, sans-serif;
$subtitile-font: 'Raleway', Arial, sans-serif;
$header-font: 'RalewayBold', Arial, sans-serif;

