extends template/main

block variables
  - var title = 'Главная страница'

block content
  include modules/about
  include modules/programs
  include modules/to-go
  include modules/to-road
  //include modules/life
  include modules/view-photo
  include modules/questions
  include modules/feedback
  include modules/details
