section.s-details
  .container
    .details
      .details__top
        .details__info
          h2.section__title.details__title Узнать подробности
          .details__your-city
            span.details__your-city--title Ваш город:
            a.details__your-city--name Новосибирск
          .details__card.card
            .card__picture
              picture
                source(type="image/webp" srcset="img/content/card_photo_x1.webp, img/content/card_photo_x2.webp 2x")
                img.questions__image(src="img/content/card_photo_x1.png" srcset="img/content/card_photo_x2 2x" alt="Фотография девушек, обсуждающих вопросы" width="112" height="112")
            .card__info
              .card__curator
                span.card__curator--title Ваш куратор:
                span.card__curator--name Анна Горелик
              p.card__address Новосибирск, ул. Щетинкина 68,<br> культурный центр «Бейт Менахем»
              ul.card__social.social
                li.social__item.card__link
                  a.social__link
                    span.visually-hidden Ссылка на facebook
                    +icon('icon-facebook', 'social__icon', '10', '20')
                li.social__item.card__link
                  a.social__link
                    span.visually-hidden Ссылка на WhatsApp
                    +icon('icon-whatsapp', 'social__icon', '20', '20')
                li.social__item.card__link
                  a.social__link
                    span.visually-hidden Ссылка на Telegram
                    +icon('icon-telegram', 'social__icon', '22', '18')
          p.details__description Куратор является опытным специалистом агентства Сохнут и знает о проекте «Маса» всё! Свяжитесь с куратором, узнайте подробнее о программах и выберите свою !
        .details__map
          img.questions__image(src="img/content/details_map.png" alt="Карта проезда" width="702" height="448")
      .details__bottom
        .details__information
          p.details__text Оставьте ваши контакты, если у вас остались вопросы — мы на них ответим!
          span.details__note Мы не передаём данные третьим лицам. Ваши данные будут в безопасности и вам не придёт спам от нас!
        form.details__form
          label
            input.details__input.details__input--name.section__input(aria-label="Введите своё имя" type="text" placeholder="Имя" minlength="3" maxlength="20")
          label
            input.details__input.details__input--phone.section__input.js-phone__input(aria-label="Введите свой номер телефона" type="tel" placeholder="Телефон")
          button.details__button.section__button(type="submit") Позвоните мне



