header.header
    .container
        .header__nav
            a.header__phone(href="tel:+792726216581") + (972) 2 – 621 – 6581
            picture
                source(type="image/webp" srcset="img/logo1x.webp, img/logo2x.webp 2x")
                img.header__logo(src="img/logo1x.png" srcset="img/logo2x.png 2x" alt="Логотип фирмы Маса")
            a.header__callback заказать звонок
        .header__hero.hero
            svg(width="100%" height="300")
                pattern(id="pattern" patternUnits="userSpaceOnUse" width="1200" height="300" viewbox="75 90 1200 300")
                    image(xlink:href="/img/hero_overlay.png" width="1057" height="726")
                text.rrr(x="0" y="300") Израиль

