section.life
  .container
    .life__content
      h2.section__title.life__title Жизнь в Израиле
      p.life__description Помимо учёбы, в рамках программе у вас будет возможность путешествовать по стране и познакомиться с богатой культурно-исторической жизнью Израиля и его жителей.
      .life__images
        .life__col-1
          .life__image.js-life-mobile__image
                picture
                  source(type="image/webp" srcset="img/content/life-1x1.webp, img/content/life-1x2.webp 2x")
                  img.life__photo(src="img/content/life-1x1.png" srcset="img/content/life-1x2.png 2x" alt="Фото храма в Израиле" width="482" height="732")
                span.life__note Экскурсии по Израилю<br> и знакомство с его историей
        .life__col-2
          .life__row-1
            .life__image.life__image--small.js-life-mobile__image
              picture
                source(type="image/webp" srcset="img/content/life-2x1.webp, img/content/life-2x2.webp 2x")
                img.life__photo(src="img/content/life-2x1.png" srcset="img/content/life-2x2.png 2x" alt="Фото храма в Израиле" width="211" height="318")
              span.life__note Изучение<br> иврита
            .life__image.life__image--big.js-life-mobile__image
              picture
                source(type="image/webp" srcset="img/content/life-3x1.webp, img/content/life-3x2.webp 2x")
                img.life__photo(src="img/content/life-3x1.png" srcset="img/content/life-3x2.png 2x" alt="Фото храма в Израиле" width="411" height="318")
              span.life__note Обучение современным<br> навыкам и профессиям
          .life__row-2
            .life__image.life__image--big.js-life-mobile__image
              picture
                source(type="image/webp" srcset="img/content/life-4x1.webp, img/content/life-4x2.webp 2x")
                img.life__photo(src="img/content/life-4x1.png" srcset="img/content/life-4x2.png 2x" alt="Фото храма в Израиле" width="411" height="318")
              span.life__note Совместные творческие проекты<br> с израильской молодёжью
            .life__image.life__image--small.js-life-mobile__image
              picture
                source(type="image/webp" srcset="img/content/life-5x1.webp, img/content/life-5x2.webp 2x")
                img.life__photo(src="img/content/life-5x1.png" srcset="img/content/life-5x2.png 2x" alt="Фото храма в Израиле" width="214" height="318")
              span.life__note Развитие<br> лидерства
