.modal-callback
  h2 Заказать звонок
  p  Оставьте ваши контактные данные, мы свяжемся с вами в течение рабочего дня и обязательно поможем найти ответ на ваш вопрос!
  form
    label.modal-callback__label
      input.modal-callback__input(type="text" aria-label="Введите Ваше имя" minlength="3" maxlength="20" placeholder="Имя")
    label.modal-callback__label
      input.modal-callback__input.js-phone(type="tel" aria-label="Введите Ваш номер телефона" placeholder="Телефон")
    button.button.js-recall-button(type="button") Перезвоните мне
    .modal-callback__footer
      input.modal-callback__checkbox.visually-hidden(type="checkbox" id="accept" name="accept" value="verification")
      label.modal-callback__text(for="accept") Нажимая на кнопку, вы даёте согласие на обработку персональных данных
  .modal__close(tabindex="0")
    +icon('icon-close', 'modal__icon modal__icon--close', '18', '18')
.modal-accepted
  +icon('icon-accept', 'modal__icon modal__icon--accept', '66', '64')
  h2 Заявка принята
  p Мы приняли ваши данные и вскоре мы перезвоним вам для уточнения деталей!
  button.button(type="submit") Понятно
  .modal__close(tabindex="0")
    +icon('icon-close', 'modal__icon modal__icon--close', '18', '18')
