section.s-programs
    .container
        .programs
            h2.programs__title.section__title Програмы
            .pragrams__tabs.tabs
                ul.tabs__list
                    li.tabs__item.tabs__item--active(data-tab-name="tabs__general") Общие
                    li.tabs__item(data-tab-name="tabs__academic") Академические
                    li.tabs__item(data-tab-name="tabs__internship") Стажировка
                    li.tabs__item(data-tab-name="tabs__volunteering") Волонтёрство
                    li.tabs__item(data-tab-name="tabs__religion") Религиозные
                .tabs__content
                    .tabs__inset.tabs__general.tabs__inset--active
                        h3.tabs__title Общие
                        p.tabs__description Провести семестр или год за рубежом, знакомясь с различными культурами и идеями, традициями и стилем жизни — вот что такое учеба за границей! Израиль — это не только центр религиозного мира, это также академический центр, живая лаборатория идей и творческого исследования. 
                        p.tabs__description Может быть, Вы заинтересованы в изучении социологии, мира, юриспруденции, биологии, сравнительной религии, законодательного и делового администрирования или искусства? Здесь, в Израиле, Вы сможете изучить все это в удивительной университетской среде.
                    .tabs__inset.tabs__academic
                        h3.tabs__title Академические
                        p.tabs__description is ullam earum ratione! Veritatis ad repellendus a soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus reprehenderit dolore, totam repudiandae placeat ratione tempora corrupti, laboriosam nemo natus provident hic ex officiis alias eveniet cumque magni dignissimos! Aperiam. 
                        p.tabs__description Может быть, Вы заинтересованы в изучении социологии, мира, юриспруденции, биологии, сравнительной религии, законодательного и делового администрирования или искусства? Здесь, в Израиле, Вы сможете изучить все это в удивительной университетской среде.
                    .tabs__inset.tabs__internship
                        h3.tabs__title Стажировка
                        p.tabs__description Провести семестр или год за рубежом, знакомясь с различными культурами и идеями, традициями и стилем жизни — вот что такое учеба за границей! Израиль — это не только центр религиозного мира, это также академический центр, живая лаборатория идей и творческого исследования. 
                        p.tabs__description Может быть, Вы заинтересованы в изучении социологии, мира, юриспруденции, биологии, сравнительной религии, законодательного и делового администрирования или искусства? Здесь, в Израиле, Вы сможете изучить все это в удивительной университетской среде.
                        p.tabs__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro ipsam, velit amet ratione qui sed esse beatae fugit dolorum, illum placeat! Ea voluptas nostrum delectus dolorum a harum est autem!
                    .tabs__inset.tabs__volunteering
                        h3.tabs__title Волонтёрство
                        p.tabs__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi velit voluptatibus eos ab ex maxime repudiandae minus placeat, sint amet voluptate natus id. Magni harum praesentium delectus! Magni, inventore nisi.
                        p.tabs__description Может быть, Вы заинтересованы в изучении социологии, мира, юриспруденции, биологии, сравнительной религии, законодательного и делового администрирования или искусства? Здесь, в Израиле, Вы сможете изучить все это в удивительной университетской среде.
                    .tabs__inset.tabs__religion
                        h3.tabs__title Религиозные
                        p.tabs__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam a atque, culpa inventore nemo sed aperiam voluptatem illo vitae fugit veniam quos maxime et hic commodi? Modi rerum laudantium molestias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, beatae, iusto asperiores animi fugiat maxime, ea quo voluptatibus repudiandae alias id maiores nihil architecto nobis praesentium labore saepe voluptates quam. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet consectetur libero ducimus odio maiores eius nihil repellat eum veritatis quis. Sapiente labore quo, facilis ullam impedit maiores doloribus molestiae soluta.