section.questions
  .container
    .questions__content
      .questions__inner
        h2.questions__title.section__title Частные вопросы
        ul.questions__list.question
          li.question__item
            .question__title
              span.question__number 1
              p.question__text Кто организатор? Какие сроки у программы?
              +icon('icon-arrow', 'question__icon', '17', '11')
            p.question__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem commodi cupiditate dolore eaque eum facilis hic laboriosam maiores, nesciunt obcaecati, omnis quam quibusdam rerum, totam voluptas voluptate. Optio, repellat.
          li.question__item
            .question__title
              span.question__number 2
              p.question__text Что такое грант на обучение?
              +icon('icon-arrow', 'question__icon', '17', '11')
            p.question__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem commodi cupiditate dolore eaque eum facilis hic laboriosam maiores, nesciunt obcaecati, omnis quam quibusdam rerum, totam voluptas voluptate. Optio, repellat.
          li.question__item
            .question__title
              span.question__number 3
              p.question__text Как определяется стоимость программы?
              +icon('icon-arrow', 'question__icon', '17', '11')
            p.question__answer Полная стоимость определяется организаторами в зависимости от направления. В большинстве случаев грант «Маса» не покрывает полную стоимость программы, и поэтому предусматривается определённая доля личного участия.
          li.question__item
            .question__title
              span.question__number 4
              p.question__text Что такое грант на обучение?
              +icon('icon-arrow', 'question__icon', '17', '11')
            p.question__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem commodi cupiditate dolore eaque eum facilis hic laboriosam maiores, nesciunt obcaecati, omnis quam quibusdam rerum, totam voluptas voluptate. Optio, repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem commodi cupiditate dolore eaque eum facilis hic laboriosam maiores, nesciunt obcaecati, omnis quam quibusdam rerum, totam voluptas voluptate. Optio, repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem commodi cupiditate dolore eaque eum facilis hic laboriosam maiores, nesciunt obcaecati, omnis quam quibusdam rerum, totam voluptas voluptate. Optio, repellat.
          li.question__item
            .question__title
              span.question__number 5
              p.question__text Признаётся ли учеба в рамках проекта для дальнейшего обучения?
              +icon('icon-arrow', 'question__icon', '17', '11')
            p.question__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem commodi cupiditate dolore eaque eum facilis hic laboriosam maiores, nesciunt obcaecati, omnis quam quibusdam rerum, totam voluptas voluptate. Optio, repellat.
          li.question__item
            .question__title
              span.question__number 6
              p.question__text Как выглдядит полный процесс регистрации на программу «Маса»?
              +icon('icon-arrow', 'question__icon', '17', '11')
            p.question__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem commodi cupiditate dolore eaque eum facilis hic laboriosam maiores, nesciunt obcaecati, omnis quam quibusdam rerum, totam voluptas voluptate. Optio, repellat.
      .questions__picture
        picture
          source(type="image/webp" srcset="img/content/questions_x1.webp, img/content/questions_x2.webp 2x")
          img.questions__image(src="img/content/questions_x1.png" srcset="img/content/questions_x2 2x" alt="Фотография девушек, обсуждающих вопросы" width="645" height="803")
