section.to-go
  .container
    .to-go__content
      h2.to-go__title.title Хочу поехать
      p.to-go__text Оставьте свой телефон и мы свяжемся с вами, подберём куратора и ответим на все вопросы!
      form.to-go__form
        label
          input.to-go__phone.input.js-phone(aria-label="Введите свой номер телефона" type="tel" placeholder="Телефон")
        button.to-go__submit.button(type="submit") Перезвоните мне
