section.to-go
  .container
    .to-go__content
      h2.to-go__title.title Хочу поехать!
      p.to-go__text Оставьте свой телефон и мы свяжемся с вами, подберём куратора и ответим на все вопросы!
      form.to-go__form.novalidate.js-form
        label
          input.to-go__phone.input.js-phone#to-go-input(data-mask="+7 (000) 000 00 00" aria-label="Введите свой номер телефона" type="tel" placeholder="Телефон" minlength="18" maxlength="18" required)
        input.to-go__submit.button(type="submit" value="Перезвоните мне")
