section.to-road
  .container
    .to-road__wrapper
      picture
        source(type="image/webp" srcset="img/content/how-to-road_1x.webp, img/content/how-to-road_2x.webp 2x")
        img.to-road__image(src="img/content/how-to-road_1x.png" srcset="img/content/how-to-road_2x.png 2x" alt="Картинка друзей" width="581" height="707")
      .to-road__content
        h2.to-road__title.section__title Как поехать
        p.to-road__description Чтобы узнать подробнее о программе, свяжитесь с координатором в вашем городе. Вы получите актуальные сведения о доступных программах и городах, в которых можете пройти программу.
        p.to-road__promo Чтобы иметь возможность получить грант на обучение от 4200 до 8400$, вы должны:
        ul.to-road__list
          li.to-road__item
            span.to-road__number 1
            span.to-road__text Быть в возрасте от 16 до 30 лет
          li.to-road__item
            span.to-road__number 2
            span.to-road__text Иметь оконченное среднее образование
          li.to-road__item
            span.to-road__number 3
            span.to-road__text Иметь документально подтверждённые еврейские корни и пройти консульскую проверку
          li.to-road__item
            span.to-road__number 4
            span.to-road__text За последние 2 года быть не больше 3х месяцев подряд непрерывно в Израиле.
        p.to-road__note Если вы не подходите по этим правилам, вы всё равно можете принять участие в программе «Маса», оплатив её полную стоимость.
