section.view-photo
  picture
    source(type="image/webp" media="(max-width: 767px)" srcset="img/content/masaisrael_bg_x1-mobile.webp, img/content/masaisrael_bg_x2-mobile.webp 2x")
    source(type="image/webp" srcset="img/content/masaisrael_bg_x1.webp, img/content/masaisrael_bg_x2.webp 2x")
    source(media="(min-width: 768px)" srcset="img/content/masaisrael_bg_x1-mobile.png 1x, img/content/masaisrael_bg_x2-mobile.png 2x")
    img.view-photo__image(src="img/content/masaisrael_bg_x1.png" srcset="img/content/masaisrael_bg_x2.png 2x" alt="Фотография из блога участника программы" width="1361" height="583")
  .view-photo__content
    h2.section__title.view-photo__title #masaizrael
    p.view-photo__description Познакомьтесь с программой от первого лица! Многие участники ведут блоги и фотодневники о жизни, учёбе и путешествиях в Израиле.
    button.section__button.view-photo__button
      +icon('icon-insta', 'view-photo__icon', '24', '24')
      span Смотреть фото
