section.s-view-photo
  picture
    source(type="image/webp" srcset="img/content/masaisrael_bg_x1.webp, img/content/masaisrael_bg_x2.webp 2x")
    img.s-view-photo__image(src="img/content/masaisrael_bg_x1.png" srcset="img/content/masaisrael_bg_x2.png 2x" alt="Фотография из блога участника программы" width="1361" height="583")
  .view-photo
    h2.section__title.view-photo__title #masaizrael
    p.view-photo__description Познакомьтесь с программой от первого лица! Многие участники ведут блоги и фотодневники о жизни, учёбе и путешествиях в Израиле.
    a.section__button.view-photo__button
      +icon('icon-insta', 'view-photo__icon', '24', '24')
      span Смотреть фото
