@import "utils/libs";
@import "utils/vars";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height: 100%;
}

body {
  background-color: $white;
  color: $base-text-color;
  font-family: $main-font;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

img {
  max-width: 100%;
  display: block;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

//.wrapper {
//  display: flex;
//  flex-direction: column;
//  height: 100%;
//}

.container {
  margin: 0 auto;
  padding: 0 110px;
  position: relative;
  width: 100%;
  max-width: 1366px;
  @media screen and (max-width: 1365px) {
    padding: 0 90px;
    width: 100%;
  }
  @media screen and (max-width: 767px) {
    padding: 0 16px;
    width: 100%;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  background-color: rgba(#ebebeb, 0.95);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

//Модули
@import "modules/modules";
