.s-about {
  background: url("../img/about_bg.png") center center no-repeat;
  background-size: 100% 100%;
  padding-bottom: 152px;
  // &::before {
  //   background: url("../img/about_bg.png") center no-repeat;
  //   background-size: 100% 100%;
  //   content: "";
  //   height: 604px;
  //   position: absolute;
  //   left: 0;
  //   top: 160px;
  //   width: 100%;
  // }
  @media screen and (max-width: 767px) {
    background-size: 100% 60%;
    background-position-y: bottom;
    margin-bottom: 80px;
    padding-bottom: 0;
    .container {
      padding: 0;
    }
  }  
}

.about {
  @media screen and (max-width: 767px) {
    padding-bottom: 0;
  }
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }
  &__description {
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 48px;
    padding: 0 213px;
    text-align: center;
    @media screen and (max-width: 1365px) {
      padding: 0;
    }
    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      padding: 0 16px;
      text-align: left;
    }
  }
  &__video {
    padding: 0 140px;
    position: relative;
    @media screen and (max-width: 1365px) {
      padding: 0;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__button {
    cursor: pointer;
    &::before {
      background-color: $white;
      border-radius: 50%;
      content: "";
      height: 96px;
      left: calc(50% - 48px);
      position: absolute;
      opacity: 0.32;
      top: calc(50% - 48px);
      width: 96px;
      @media screen and (max-width: 767px) {
        height: 80px;
        left: calc(50% - 40px);
        top: calc(50% - 40px);
        width: 80px;
      }
    }
    &::after {
      background-color: $white;
      border-radius: 50%;
      content: "";
      height: 64px;
      left: calc(50% - 32px);
      position: absolute;
      top: calc(50% - 32px);
      transition: all linear 0.15s;
      width: 64px;
      @media screen and (max-width: 767px) {
        height: 54px;
        left: calc(50% - 27px);
        top: calc(50% - 27px);
        width: 54px;
      }
    }
    &:hover {
      &::after {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
      }
      .about__icon {
        fill: $hover-blue-color;
      }
    }
    &:active {
      &::after {
        background-color: $active-color;
      }
      .about__icon {
        fill: $blue-color;
      }
    }
  }
  &__icon {
    fill: $blue-color;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 9.5px);
    transition: all linear 0.15s;
    z-index: 1;
  }
}
