.feedback {
    background: url("../img/slider-sketch_bg.png"), url("../img/slider_bg.png");
    background-repeat: no-repeat;
    background-position: center right, center center;
    background-size: 535px 318px, 100% 100%;
    margin-bottom: 93px;
    @media screen and (max-width: 767px) {
      background-position: center right, bottom center;
      background-size: 535px 318px, 100% 234px;
      margin-bottom: 11px;
    }
    &__title {
      margin-bottom: 8px;
      text-align: center;
      @media screen and (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
}

.feedback {
  &__title {
    margin-bottom: 8px;
    text-align: center;
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
}
