.footer {
  border-top: 1px solid rgba($base-text-color, 0.2);
  &__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }
  &__copyright {
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
  }
  &__social {
    align-items: center;
    display: flex;
  }
}
