.header {
  background-image: url("../img/girl1x.png"), url("../img/izrail_title1x.png"), url("../img/hero_bg1x.png");
  background-position: top, center 80px, top;
  background-size: 100%, 75%, 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  height: 100vh;
  margin-bottom: 27px;
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/girl2x.png"), url("../img/izrail_title2x.png"), url("../img/hero_bg2x.png");
  }
  &__nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 41%;
    padding-top: 32px;
  }
  &__phone {
    color: $base-text-color;
    font-family: $medium-font;
    line-height: 18px;
    text-decoration: none;
    @media screen and (max-width: $tablet-size) {
      order: 2;
    }
  }
  &__callback {
    border-bottom: 1px dashed $base-text-color;
    font-family: $medium-font;
    line-height: 18px;
    text-transform: uppercase;
    @media screen and (max-width: $tablet-size) {
      order: 2;
    }
  }
}

.hero {
  &__text {
    color: $white;
    font-family: $bold-font;
    font-size: 24px;
    line-height: 29px;
    margin: 0 auto 32px auto;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    width: 30%;
  }
  &__mouse-scroll {
    display: flex;
    justify-content: center;
    position: relative;
    &::after {
      background-color: $white;
      bottom: -56px;
      content: "";
      height: 56px;
      position: absolute;
      width: 1px;
    }
  }
  &__icon {
    &--big-circle {
      animation: around 6s infinite linear;
      fill: transparent;
    }
    &--small-circle {
      fill: transparent;
      position: absolute;
      top: 11px;
    }
    &--mouse {
      animation: mouse 2s infinite linear;
      fill: white;
      position: absolute;
      top: 24px;
    }
  }
}

@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Тест паттерна для текста
//.rrr {
//  fill: url(#pattern);
//  font-size: 200px;
//  text-transform: uppercase;
//  font-family: $header-font;
//}
