.s-life {
  margin-bottom: 160px;
  &::after {
    background: url("../img/watch_bg.png") center no-repeat;
    bottom: 82px;
    content: "";
    height: 148px;
    position: absolute;
    right: 0;
    width: 90px;
  }
  &::before {
    background: url("../img/life_bg.png") center no-repeat;
    background-size: 100% 100%;
    content: "";
    height: 950px;
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
  }
}

.life {
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }
  &__description {
    text-align: center;
    line-height: 29px;
    margin: 0 auto 46px auto;
    opacity: 0.87;
    width: 635px;
  }
  &__images {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
  }
  &__photo {
    width: 100%;
    height: auto;
  }
  &__col-1 {
    flex-shrink: 0;
    margin-top: -66px;
    flex-basis: 42%;
  }
  &__col-2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 58%;
  }
  &__row-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  &__row-2 {
    display: flex;
    flex-direction: row;
  }
  &__image {
    position: relative;
    &:nth-of-type(odd) {
      margin-right: 30px;
    }
    &:first-child {
      margin-right: 15px;
    }
    &--big {
      flex-grow: 2;
    }
    &--small {
      flex-grow: 1;
    }
  }
  &__note {
    bottom: 32px;
    color: $white;
    font-family: $bold-font;
    font-size: 21px;
    line-height: 25px;
    position: absolute;
    left: 40px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    width: 90%;
  }
}
