.life {
  background: url("../img/life_bg.png") center no-repeat;
  background-size: 100% 100%;
  margin-bottom: 83px;
  padding-bottom: 50px;
  &::after {
    background: url("../img/watch_bg.png") center no-repeat;
    bottom: 82px;
    content: "";
    height: 148px;
    position: absolute;
    right: 0;
    width: 90px;
  }
  @media screen and (max-width: 1023px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    background-image: none;
  }
  &__title {
    margin-bottom: 24px;
    text-align: center;
  }
  &__description {
    text-align: center;
    line-height: 29px;
    margin: 0 auto 46px auto;
    opacity: 0.87;
    width: 635px;
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
  &__images {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
  }
  &__photo {
    width: 100%;
    height: auto;
    @media screen and (max-width: 1023px) {
      width: 507px;
      height: 700px;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
      width: 288px;
      height: 400px;
    }
  }
  &__col-1 {
    flex-shrink: 0;
    margin-top: -66px;
    flex-basis: 42%;
  }
  &__col-2 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 58%;
  }
  &__row-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  &__row-2 {
    display: flex;
    flex-direction: row;
  }
  &__image {
    position: relative;
    @media screen and (max-width: 1023px) {
      height: 700px;
      overflow: hidden;
    }
    @media screen and (max-width: 767px) {
      height: 400px;
    }
    &:nth-of-type(odd) {
      margin-right: 30px;
      @media screen and (max-width: 1023px) {
        margin-right: 0;
      }
    }
    &:first-child {
      margin-right: 15px;
      @media screen and (max-width: 1023px) {
        margin-right: 0;
      }
    }
    &--big {
      flex-grow: 2;
      @media screen and (max-width: 1023px) {
        flex-grow: 1;
      }
    }
    &--small {
      flex-grow: 1;
    }
  }
  &__dots {
    @media screen and (max-width: 1023px) {
      position: absolute;
      bottom: -30px;
      list-style: none;
      display: block;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
          border: 0;
          background: 0 0;
          display: block;
          height: 20px;
          width: 20px;
          outline: 0;
          line-height: 0;
          font-size: 0;
          color: transparent;
          padding: 5px;
          cursor: pointer;
          &::before {
            border-radius: 50%;
            position: absolute;
            top: calc(50% - 3px);
            left: calc(50% - 3px);
            content: "";
            width: 6px;
            height: 6px;
            text-align: center;
            background-color: $base-text-color;
            opacity: 0.2;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
      .slick-active {
        button::before {
          background-color: $yellow-color;
          height: 8px;
          opacity: 1;
          width: 8px;
          top: calc(50% - 4px);
          left: calc(50% - 4px);
        }
      }
    }
  }
  &__note {
    bottom: 32px;
    color: $white;
    font-family: $bold-font;
    font-size: 21px;
    line-height: 25px;
    position: absolute;
    left: 40px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    width: 90%;
    @media screen and (max-width: 1023px) {
      left: 50%;
      transform: translateX(-50%);
      width: 450px;
      br {
        display: none;
      }
    }
    @media screen and (max-width: 767px) {
      font-size: 18px;
      line-height: 21px;
      width: 230px;
    }
  }
}
