.modal {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  display: none;
  left: calc(50% - 240px);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 480px;
  z-index: 101;
  @media screen and (max-width: 767px) {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    transform: translateY(0%);
    width: 100%;
  }
  h2 {
    color: $blue-color;
    font-family: $title-font;
    font-size: 28px;
    line-height: 34px;
  }
  p {
    color: rgba($base-text-color, 0.87);
    font-size: 15px;
    line-height: 26px;
  }
  &-callback {
    background-color: $white;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    height: auto;
    padding: 56px 48px 40px;
    @media screen and (max-width: 767px) {
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 50px 16px;
    }
    h2 {
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 32px;
    }
    form {
      align-items: center;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    &__label {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
      &:last-of-type {
        margin-bottom: 24px;
      }
    }
    &__input {
      background-color: transparent;
      border: 2px solid #e3e3e3;
      border-radius: 80px;
      font-family: $medium-font;
      font-size: 17px;
      line-height: 20px;
      padding: 20px 40px;
      text-transform: uppercase;
      width: 100%;
      &::placeholder {
        opacity: 0.5;
      }
      &:focus {
        border-color: #ffc341;
      }
    }
    button {
      margin-bottom: 16px;
      width: 264px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    &__footer {
      position: relative;
      width: 264px;
    }
    &__text {
      color: rgba($base-text-color, 0.87);
      cursor: pointer;
      display: block;
      font-size: 13px;
      line-height: 19px;
      padding-left: 24px;
    }
    &__checkbox {
      + label {
        &::before {
          content: "";
          border: 2px solid $yellow-color;
          border-radius: 2px;
          height: 16px;
          left: 0;
          position: absolute;
          top: 0;
          width: 16px;
        }
      }
      &:checked {
        + label {
          &::after {
            content: "";
            border-bottom: 2px solid $yellow-color;
            border-right: 2px solid $yellow-color;
            height: 10px;
            left: 6px;
            position: absolute;
            top: 2px;
            transform: rotate(45deg);
            width: 5px;
          }
        }
      }
    }
  }
  &-accepted {
    background-color: $white;
    display: none;
    flex-direction: column;
    padding: 120px 60px 110px;
    @media screen and (max-width: 767px) {
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 50px 16px;
    }
    h2 {
      margin-bottom: 16px;
      text-align: center;
    }
    p {
      margin-bottom: 32px;
      text-align: center;
    }
    button {
      display: block;
      margin: 0 auto;
      width: 264px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;
  }
  &__icon {
    &--close {
      fill: $yellow-color;
      &:hover {
        fill: #ffd701;
      }
    }
    &--accept {
      display: block;
      fill: transparent;
      margin: 0 auto 32px;
    }
  }
  &--active {
    display: block;
  }
}
