.s-programs {
  &::before {
    background: url("../img/programs_bg.png") center no-repeat;
    background-size: cover;
    content: "";
    height: 426px;
    position: absolute;
    right: 0;
    top: -65px;
    width: 680px;
  }
}

.programs {
  margin-bottom: 240px;
  padding-left: 100px;
  &__title {
    margin-bottom: 83px;
  }
}

.tabs {
  display: flex;
  &__list {
    flex-shrink: 0;
    margin-right: 94px;
    width: 198px;
  }
  &__item {
    cursor: pointer;
    line-height: 18px;
    padding: 25px 10px 25px 72px;
    position: relative;
    &:hover span {
      color: #ffd701;
    }
    &--active {
      background: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);
      color: $white;
      cursor: pointer;
      font-family: $medium-font;
      font-size: 16px;
      line-height: 19px;
      position: relative;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
      &::after {
        content: "";
        border-style: solid;
        border-width: 34.5px 0 34.5px 37px;
        border-color: transparent transparent transparent #ffd701;
        position: absolute;
        right: -37px;
        top: 0;
        z-index: -1;
      }
      &:hover span {
        color: $white;
      }
    }
    &[data-tab-name="tabs__general"]::before {
      background: url("../img/star_black.png") no-repeat;
      content: "";
      height: 33px;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 28px;
    }
    &.tabs__item--active[data-tab-name="tabs__general"]::before {
      background-image: url("../img/star_white.png");
    }
    &[data-tab-name="tabs__general"]:not(.tabs__item--active):hover::before {
      background-image: url("../img/star_yellow.png");
    }
    &[data-tab-name="tabs__academic"]::before {
      background: url("../img/hat_black.png") no-repeat;
      content: "";
      height: 36px;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 36px;
    }
    &.tabs__item--active[data-tab-name="tabs__academic"]::before {
      background-image: url("../img/hat_white.png");
    }
    &[data-tab-name="tabs__academic"]:not(.tabs__item--active):hover::before {
      background-image: url("../img/hat_yellow.png");
    }
    &[data-tab-name="tabs__internship"]::before {
      background: url("../img/case_black.png") no-repeat;
      content: "";
      height: 25px;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
    }
    &.tabs__item--active[data-tab-name="tabs__internship"]::before {
      background-image: url("../img/case_white.png");
    }
    &[data-tab-name="tabs__internship"]:not(.tabs__item--active):hover::before {
      background-image: url("../img/case_yellow.png");
    }
    &[data-tab-name="tabs__volunteering"]::before {
      background: url("../img/hand_black.png") no-repeat;
      content: "";
      height: 29px;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
    }
    &.tabs__item--active[data-tab-name="tabs__volunteering"]::before {
      background-image: url("../img/hand_white.png");
    }
    &[data-tab-name="tabs__volunteering"]:not(.tabs__item--active):hover::before {
      background-image: url("../img/hand_yellow.png");
    }
    &[data-tab-name="tabs__religion"]::before {
      background: url("../img/lamp_black.png") no-repeat;
      content: "";
      height: 25px;
      left: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 23px;
    }
    &.tabs__item--active[data-tab-name="tabs__religion"]::before {
      background-image: url("../img/lamp_white.png");
    }
    &[data-tab-name="tabs__religion"]:not(.tabs__item--active):hover::before {
      background-image: url("../img/lamp_yellow.png");
    }
  }
  &__inset {
    display: none;
    padding-right: 190px;
    padding-top: 16px;
    &--active {
      display: block;
    }
  }
  &__title {
    color: $blue-color;
    font-family: $title-font;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 24px;
  }
  &__description {
    line-height: 26px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
