.questions {
  background: url("../img/questions_bg.png") top no-repeat;
  background-size: 100% 850px;
  margin-bottom: 128px;
  padding-top: 65px;
  @media screen and (max-width: 1023px) {
    background-image: none;
    margin-bottom: 80px;
    padding-top: 0;
  }
  .container {
    padding-right: 0;
    @media screen and (max-width: 1023px) {
      padding-right: 90px;
    }
    @media screen and (max-width: 767px) {
      padding-right: 16px;
    }
  }
  &::after {
    background: url("../img/questions_bag.png") center no-repeat;
    content: "";
    height: 177px;
    position: absolute;
    left: 0;
    top: 794px;
    width: 153px;
    @media screen and (max-width: 1023px) {
      top: 600px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 32px;
    @media screen and (max-width: 767px) {
      margin-bottom: 24px;
      text-align: center;
    }
  }
  &__inner {
    flex-basis: 45.2%;
    width: 100%;
    @media screen and (max-width: 1023px) {
      flex-basis: 100%;
    }
  }
  &__picture {
    flex-basis: 52%;
    flex-shrink: 0;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  &__image {
    height: auto;
    width: 100%;
  }
}

.question {
  &__item {
    border-bottom: 1px solid rgba($base-text-color, 0.2);
    padding-bottom: 24px;
    &:not(:first-child) {
      padding-top: 24px;
    }
  }
  &__title {
    align-items: baseline;
    cursor: pointer;
    display: flex;
    position: relative;
    transition: all linear 0.2s;
    &--active {
      margin-bottom: 16px;
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__number {
    color: $yellow-color;
    font-family: $bold-font;
    font-size: 28px;
    line-height: 48px;
    margin-right: 16px;
    @media screen and (max-width: 767px) {

    }
  }
  &__text {
    font-size: 17px;
    line-height: 25px;
    padding-right: 60px;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      padding-right: 30px;
    }
  }
  &__answer {
    line-height: 21px;
    max-height: 0;
    padding-right: 60px;
    opacity: 0.74;
    overflow: hidden;
    transition: all 0.2s ease-out;
    @media screen and (max-width: 767px) {
      padding-right: 0;
    }
  }
  &__icon {
    fill: transparent;
    position: absolute;
    right: 36px;
    stroke: $blue-color;
    top: calc(50% - 4px);
    transition: all linear 0.2s;
    @media screen and (max-width: 767px) {
      right: 0;
    }
  }
}
