.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__picture {
    flex-basis: 32.2%;
    flex-shrink: 0;
  }
  &__photo {
    width: 100%;
    height: auto;
  }
  &__main {
    display: flex;
    flex-basis: 63.7%;
    flex-direction: column;
    padding-right: 40px;
  }
  &__name {
    font-family: $medium-font;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
    padding-top: 40px;
    opacity: 0.74;
  }
  &__program {
    align-items: center;
    display: flex;
    line-height: 21px;
    margin-bottom: 32px;
    &--title {
      color: $blue-color;
      margin-right: 8px;
    }
    &--name {
      opacity: 0.74;
    }
  }
  &__review {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 17px;
    line-height: 29px;
    opacity: 0.74;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  &__reed-more {
    color: $blue-color;
    cursor: pointer;
    font-size: 17px;
    line-height: 25px;
    text-decoration: underline;
    transition: all linear 0.15s;
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
  &__footer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
  &__nav {
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 38%;
  }
  &__page-count {
    font-size: 17px;
    line-height: 25px;
    margin-right: 24px;
    opacity: 0.5;
  }
  &__button {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      svg {
        opacity: 0.7;
      }
    }
  }
  &__icon {
    fill: transparent;
    stroke: $base-text-color;
    opacity: 0.2;
    transition: all linear 0.15s;
    &--left {
      transform: rotate(90deg);
    }
    &--right {
      transform: rotate(-90deg);
    }
  }
  &__social {
    align-items: center;
    display: flex;
  }
}