.s-to-go {
  &::before {
    background: url("../img/to-go_bg.png") center no-repeat;
    background-size: cover;
    content: "";
    height: 594px;
    position: absolute;
    right: 0;
    top: -213px;
    width: 818px;
  }
  &::after {
    background: url("../img/to-go_backpack.png") center no-repeat;
    background-size: contain;
    content: "";
    height: 226px;
    position: absolute;
    left: -37px;
    top: -40px;
    width: 167px;
  }
}

.to-go {
  margin-bottom: 322px;
  padding-left: 100px;
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    font-size: 17px;
    line-height: 29px;
    max-width: 400px;
    margin-bottom: 64px;
    opacity: 0.87;
  }
  &__form {
    display: flex;
    flex-direction: row;
  }
  &__phone {
    padding: 20px 250px 20px 40px;
    width: 477px;
  }
  &__submit {
    margin-left: -229px;
  }
}
