.to-go {
  padding-top: 205px;
  padding-bottom: 130px;
  &::after {
    background: url("../img/to-go_backpack.png") center no-repeat;
    background-size: contain;
    content: "";
    height: 226px;
    position: absolute;
    left: -37px;
    top: -40px;
    width: 167px;
    @media screen and (max-width: 1023px) {
      top: 100px;
    }
    @media screen and (max-width: 767px) {
      left: -50px;
      top: -60px;
    }
  }
  @media screen and (max-width: 1023px) {
    padding-bottom: 725px;
  }
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  &__content {
    margin-bottom: 192px;
    padding-left: 100px;
    &::before {
      background: url("../img/to-go_bg.png") center no-repeat;
      background-size: cover;
      content: "";
      height: 594px;
      position: absolute;
      right: 0;
      top: -213px;
      width: 818px;
      z-index: -1;
      @media screen and (max-width: 1023px) {
        top: 100%;
        left: 50%;
        width: 768px;
        transform: translateX(-50%);
      }
      @media screen and (max-width: 767px) {
        height: 308px;
        width: 320px;
        bottom: 0;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    @media screen and (max-width: 1023px) {
      margin-bottom: 0;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 80px;
      padding: 0 0 308px 0;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
  &__text {
    font-size: 17px;
    line-height: 29px;
    max-width: 400px;
    margin-bottom: 64px;
    opacity: 0.87;
    @media screen and (max-width: 767px) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 24px;
      max-width: 100%;
    }
  }
  &__form {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__phone {
    padding: 20px 250px 20px 40px;
    width: 477px;
    @media screen and (max-width: 767px) {
      margin-bottom: 8px;
      padding: 20px 40px;
      width: 100%;
    }
  }
  &__submit {
    margin-left: -229px;
    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 20px 40px;
      width: 100%;
    }
  }
}
